name = "Freudian"
args = [
    "socketpath"
]
description = "A Message Bus Daemon"
command = "/sbin/freudian --socket ${socketpath}"
restart = "Always"
